<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
  <h2>Edit Friend</h2>
  <form th:action="@{/friends/update}" th:object="${friend}" method="post">

    <!-- Ẩn trường id -->
    <input type="hidden" th:field="*{id}" />

    <div class="mb-3">
      <label for="code" class="form-label">Code:</label>
      <input type="text" id="code" th:field="*{code}" class="form-control" step="0.01" placeholder="Enter friend code"
        required />
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Enter friend name" required />
    </div>

    <div class="mb-3">
      <label for="favorite" class="form-label">Favorite:</label>
      <input type="text" id="favorite" th:field="*{favorite}" class="form-control" step="0.01"
        placeholder="Enter friend favorite" required />
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="gender1" th:field="*{gender}" th:value="1">
        <label class="form-check-label" for="gender1">Nam</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="gender2" th:field="*{gender}" th:value="0">
        <label class="form-check-label" for="gender2">Nữ</label>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Update</button>
    <a class="btn btn-secondary" th:href="@{/friends}">Cancel</a>
  </form>
</div>